@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
@using Services;
@using Model.UserModel;
<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" IconType="IconType.FontAwesome" ErrorIcon="fa fa-times"
    InfoIcon="fa fa-info" SuccessIcon="fa fa-check" WarningIcon="fa fa-exclamation" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">About David Nguyen</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Hello my brother : @User.FullName</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    [Inject] ILocalStorageService localStorageService { set; get; }
    public LoginReponse User = new LoginReponse();
    private string _userKey = "user";
    protected async override Task OnInitializedAsync()
    {
        try
        {
            User = new LoginReponse();
            User = await localStorageService.GetItem<LoginReponse>(_userKey);
        }
        catch(Exception e)
        {
            User = new LoginReponse();
        }

    }
}